/*GOOGLE FONTS*/
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

/*
 * Base structure
 */

 html,
 body {
   height: 100%;
   background-color: white;
 }

 .page-one{
    padding-left: 50px;
 }

 section{
    width: 100%;
    height: 800px;
    background: url('img/profile-icon.jpg');
    background-size: cover;
    position: relative;
    overflow: hidden;
  }
  
  .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(18, 18, 18, 0.9)
  }
  

  #title{
    color: white;
    font-family: 'Oswald', sans-serif;
    padding-top: 2pc;
    font-size: 25px;
  }
  
   #greet{
       color: white;
       font-family: 'Oswald', sans-serif;
       padding-top: 12pc;
     
   }
  
   #name{
      color: white;
      font-family: 'Oswald', sans-serif;
      padding-top: -1px;
     
      font-size: 80px;
      
  }

  /*Animated Text*/
  #messenger {
    position: absolute;
    top: 31pc;
    background: -webkit-linear-gradient(right,#8A2387, #E94057,#F27121);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: monospace;
    font-size: 23px;
    white-space: nowrap;
}

  
/*Button under animated text*/
.pushme {
    position: relative;
    font-weight: 700;
    background-color: #384d9d;
    border-radius: 0.6em;
    display: inline-block;
    margin: 1em;
}
.pushme .inner {
    display: inline-block;
    background-color: #f6f3eb;
    border-radius: 0.6em;
    border: 0.3em solid #384d9d;
    padding: 1em;
    cursor: pointer;
    text-transform: uppercase;
    user-select: none;
    transform: translate3d(0.6em, -0.6em, 0);
    transition: transform 240ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition-delay: 220ms;
}

.pushme .inner a{
    text-decoration: none;
}

.pushme:active .inner, .pushme.click .inner {
    transform: translate3d(0, 0, 0);
    transition: transform 120ms cubic-bezier(0.23, 1, 0.32, 1);
}

.center {
    position: absolute;
    width: 80vw;
    top: 118%;
    left: 135px;
    text-align: center;
    transform: translate3d(-50%, -50%, 0);
}






@media only screen and (max-width: 600px) {
    #messenger{
     top: 31pc;
    }
    #third_section_title h1{
        text-align: center;
    }
    #title{
        float: left;
        padding-right: 2px;
    }
    
  }


/*Second Part*/
#profile_section h1{
    color: #ffffff;
    padding-top: 1pc;
    font-family: sans-serif;
}

#profile_section i{
    color: #ffffff;
    padding-top: 1pc;
    font-family: sans-serif;
}

#profile{
    height: 20pc;
    width: 328px;
    margin-top: 12pc;
}


#second-container{
    background-color: #121212;
    padding: 48px;
}

#about_me{
    padding-top: 229px;
}

.vl{
    border-left: 6px solid #27ae60;
    height: 45px;
}
.vl h1{
    font-family: 'Oswald', sans-serif;
    color: #ffffff;
    padding-left: 10px;
}
#about_me p{
    color: #ffffff;
    padding-top: 2pc;
}

/*Skills section */
#skills{
    font-family: 'Oswald', sans-serif;
    padding-top: 1pc;
    color: #ffffff;
}
#skills ul{
    padding-top: 1pc;
    list-style: none;
}
#skills ul li{
    padding-top: 2pc;
}

#profile_section{
    margin-left: 21px;
}


/*Third Section*/
#fourth_section{
    background-color: #ffffff;
    padding: 4pc;
}
#fourtht_section h1{
    font-size: 74px;
    font-family: sans-serif;
}

#list_of_work{
    
}   



/*4th section*/

#third_section{
    background-color: #121212;
    padding: 40px;
}

#third_section_title{
    color: white;
    padding-bottom: 3pc;
    font-family: sans-serif;
    text-align: center;
}

#IOT_section_title{
    color: white;
    padding-bottom: 3pc;
    padding-top: 2pc;
    font-family: sans-serif;
    text-align: center;
}

/*Contact*/

#contact{
    background-color: #282828;
    padding: 1pc;
}

#contact p{
    font-size: 23px;
    text-align: center;
    font-family: sans-serif;
    color: #ffffff;
}

#second_icons{
   text-align: center;
}

#Stay_Con{
    padding-bottom: 22px;
    padding-top: 15px;
}